.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: static;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  border: 5px solid red;
}

.StopIcon {
  background-color: red;
  width: 33px;
  height: 33px;
  margin: auto 0px;
  border-radius: 5px;
}
